{% load static %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">

                <a href="/"><img src="{% static 'app/images/logo.png' %}" width="180px" alt=""></a>
                <p class="text-white mt-3"><span class="fntbold">Mobile :</span> 019274646443</p>
                <p class="text-white"><span class="fntbold">Address :</span> Ambag, Konabari, Gazipur</p>
                <div class="social-links mt-3">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">Faq</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Returns</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="#">Mobiles</a></li>
                    <li><a href="#">Laptops</a></li>
                    <li><a href="#">Headphones</a></li>
                    <li><a href="#">Televisions</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>