{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Done{% endblock title %}
{% block main-content %}

<div class="container my-5">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div class="p-5 m-5 text-center bg-light shadow">
                <h2 class="alert-heading">Well Done!</h2>
                <h3 class="mb-3">An Email has been sent with instuctions to reset your password. <b> <a
                            href="https://mail.google.com/mail"> Check Your Email!</a></b>
                </h3>

                <img src="{% static 'app/images/done.png' %}" width="200" height="200" alt="">
            </div>

        </div>
    </div>
</div>
{% endblock main-content %}