{% extends 'app/base.html' %}
{% load static %}
{% block title %}Reset Password Complete{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="p-5 m-5 text-center bg-light shadow">
                <h3 class="mb-3"> Your Password Reset Successfully!!!</h3>

                <img src="{% static 'app/images/done.png' %}" width="200" height="200" alt="">
            </div>

        </div>
    </div>
</div>
{% endblock main-content %}